In [1]:
# Import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import time
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

## Title and Paragraph

In [2]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)
soup = bs(response.text,"html")

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\Kevin\.wdm\drivers\chromedriver\win32\87.0.4280.20\chromedriver.exe] found in cache

In [4]:
browser.visit(url)

In [5]:
html = browser.html
soup = bs(html,'html')

In [6]:
soup.find_all('div', class_ ="content_title")[1].text

'MOXIE Could Help Future Rockets Launch Off Mars'

In [7]:
soup.find('div', class_ ="article_teaser_body").text

"NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel."

## Featured URL

In [8]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
response = requests.get(url2)
soup = bs(response.text,"html")

In [9]:
browser.visit(url2)
html = browser.html
soup = bs(html,'html')

In [10]:
soup.find_all('a', class_ = "button fancybox")

[<a class="button fancybox" data-description="The April 18, 2015 eruption of Calbuco Volcano in Chile, as seen by NASA's Terra spacecraft, led to the evacuation of thousands of citizens near the summit, blanketed nearby towns with a layer of ash, and disrupted air traffic." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19382_ip.jpg" data-link="/spaceimages/details.php?id=PIA19382" data-title="Chilean Volcanic Eruption Nighttime View" id="full_image">
 					FULL IMAGE
 				  </a>]

In [11]:
browser.find_by_tag('footer').click()
time.sleep(2)

In [12]:
browser.links.find_by_partial_text('more info').click()

In [13]:
element = browser.find_by_tag('figure')

In [14]:
figure = element.find_by_tag('a')

In [15]:
featured_img_url = figure['href']

In [16]:
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19382_hires.jpg'

## Mars Fun Facts

In [17]:
url3 = "https://space-facts.com/mars/"

In [18]:
table = pd.read_html(url3)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
df = table[0]

In [20]:
df.columns = ["","Mars"]
df

                                                  Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
df.set_index("", inplace = True)
df

                                               Mars

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

## Mars Hemispheres

In [22]:
url4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url4)
html = browser.html
soup = bs(html,'html')

In [23]:
hemispheres = soup.find_all('div', class_ = 'description')

In [ ]:
hemilen = len(hemispheres)
browser.find_by_tag("h3").click()

for x in range(1,hemilen+1):
    wide = browser.find_by_id("wide-image")
    img = wide.find_by_tag('img')
    image = img[1]['src']
    
    print(image)
    time.sleep(5)
    browser.back()
    
    try:
        browser.find_by_tag("h3")[x].click()
    except:
        print("done")

https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

In [ ]:
browser.quit()

In [ ]:
#browser.find_by_tag("h3").click()

In [ ]:
#wide = browser.find_by_id("wide-image")

In [ ]:
#img = wide.find_by_tag('img')

In [ ]:
#img[1]['src']

In [ ]:
#browser.back()