In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

## Title and Paragraph

In [2]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)
soup = bs(response.text,"html")

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\Kevin\.wdm\drivers\chromedriver\win32\87.0.4280.20\chromedriver.exe] found in cache

In [4]:
browser.visit(url)

In [5]:
html = browser.html
soup = bs(html,'html')

In [6]:
soup.find_all('div', class_ ="content_title")[1].text

'MOXIE Could Help Future Rockets Launch Off Mars'

In [7]:
soup.find('div', class_ ="article_teaser_body").text

"NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel."

## Featured URL

In [8]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
response = requests.get(url2)
soup = bs(response.text,"html")

In [9]:
browser.visit(url2)
html = browser.html
soup = bs(html,'html')

In [10]:
soup.find_all('a', class_ = "fancybox")[1]

<a class="fancybox" data-description="This image from NASAs Mars Odyssey shows a dune field on the floor of an unnamed crater in Noachis Terra." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/largesize/PIA24247_hires.jpg" data-link="/spaceimages/details.php?id=PIA24247" data-thumbnail="/spaceimages/images/wallpaper/PIA24247-640x350.jpg" data-title="Crater Dunes">
<div class="image_and_description_container">
<div class="rollover_description">
<h3 class="release_date">November 17, 2020</h3>
<div class="item_tease_overlay">Crater Dunes</div>
<div class="overlay_arrow">
<img alt="more arrow" src="/assets/images/overlay-arrow.png"/>
</div>
</div>
<div class="img">
<img alt="Crater Dunes" class="thumb" src="/spaceimages/images/wallpaper/PIA24247-640x350.jpg" title="Crater Dunes"/>
</div>
<div class="list_text_content">
<div class="article_teaser_body">November 17, 2020</div>
<div class="content_title">
										  Crater Dunes
										</div>
<div class="article_teaser_body">
										  This image from NASAs Mars Odyssey shows a dune field on the floor of an unnamed crater in Noachis Terra.
										</div>
</div>
</div>
</a>

In [11]:
image = soup.find_all('a', class_ = "fancybox")[1]

In [12]:
source = image['data-fancybox-href']

In [13]:
featured_img_url = 'https://www.jpl.nasa.gov' + source

## Mars Fun Facts

In [14]:
url3 = "https://space-facts.com/mars/"

In [15]:
table = pd.read_html(url3)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = table[0]

In [17]:
df.columns = ["","Mars"]
df

                                                  Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
df.set_index("", inplace = True)
df

                                               Mars

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

## Mars Hemispheres

In [21]:
url4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url4)
html = browser.html
soup = bs(html,'html')

In [22]:
soup.find_all('div', class_ = 'description')

[<div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div>]

In [20]:
# browser.quit()